.container {
    border: 5px solid #ffcc5c;
    display: flex;

    /* vertical orientatiom */
    /* flex-direction: row; --> default */
    flex-direction: column;

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;
    height: 100%;

    /* align-items: stretch; -->default */
    /* align-items: flex-end; */
    align-items: flex-start;
}