.container {
    border : 5px solid #ffcc5c;
    display: flex;

    /* flex-direction: row; --> default */
    /* flex-direction: column; */

    /* justify-content: flex-start; --> default */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
}

/* .home {
    margin-right: auto;
} */
/* 
.search {
    margin-left: auto;

} */

/* Flex Property  */

.container > div {
    flex: 1;
    /* flex-grow, flex-shrink, flex-basis */

    /* width: 33.33333%; */
}

.container > .search {
    flex: 4;
}
