.container {
    border : 5px solid #ffcc5c;
    display: flex;
    
    /* flex-direction: row; --> default */
    /* flex-direction: column; */

    /* justify-content: flex-start; --> default */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

}

/* .home {
    margin-right: auto;
} */
/* 
.search {
    margin-left: auto;

} */

/* Flex Property  */

/* .container > div {
    flex: 1; 
  
    flex-grow, flex-shrink, flex-basis  

    width: 33.33333%; 
 } 
 */

/* .home {
    flex: 1;
}
.logout {
    flex: 1;    
} */

/* 6. Align Items */

.container {
    /* height: 100%; */

    /* !!! vertical align!!! */

    /* align-items: flex-start;  */
    align-items: flex-end;
    /* align-items: center; */

    /* !!! gorizontal align!!! */
    justify-content: center;
}

.logout {
    /* align-self: flex-start; */
}
.home {
    align-self: flex-end;
} 

/* !!!!!!!!!!!!!!!!!!!!!!19:09 end */
